<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div>
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div>
      <%= form.label :remind_at, class: "form-label" %>
      <%= form.datetime_field :remind_at, class: "form-control" %>
    </div>

    <div>
      <%= form.label :price, class: "form-label" %>
      <%= form.number_field :price, class: "form-control" %>
    </div>

    <div>
      <%= form.label :recurrence, class: "form-label" %>
      <%= form.select :recurrence, Reminder.recurrences.keys.map { |key| [key.humanize, key] }, {}, class: "form-select" %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
