<div id="<%= dom_id reminder %>">
  <p>
    <strong>Title:</strong>
    <%= reminder.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reminder.description %>
  </p>

  <p>
    <strong>Remind at:</strong>
    <%= reminder.remind_at %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= reminder.price %>
  </p>

  <p>
    <strong>Recurrence:</strong>
    <%= reminder.recurrence %>
  </p>

</div>
