<div id="<%= dom_id reminder %>" class="row">
  <div class="col-12">
    <strong>Title:</strong>
    <%= reminder.title %>
  </div>

  <div class="col-12">
    <strong>Description:</strong>
    <%= reminder.description %>
  </div>

  <div class="col-4">
    <strong>Remind at:</strong>
    <%= l reminder.remind_at, format: :long %>
  </div>

  <div class="col-4">
    <strong>Price:</strong>
    <%= number_to_currency reminder.price %>
  </div>

  <div class="col-4">
    <strong>Recurrence:</strong>
    <%= reminder.recurrence %>
  </div>
</div>
