<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Reminders</h1>
  <%= link_to "New reminder", new_reminder_path, class: "ms-auto btn btn-primary mb-3" %>
</div>


<div id="reminders">
  <% @reminders.each do |reminder| %>
    <%= render reminder %>
    <div class="d-flex gap-3 mb-3">
      <div>
        <%= link_to "Show this reminder", reminder %>
      </div>
      <div>
        <%= link_to "Edit this reminder", edit_reminder_path(reminder) %>
      </div>
      <div class="ms-auto">
        <span class="text-muted">
          created at: <%= l reminder.created_at, format: :long %>
        </span>
      </div>
    </div>
    <hr class="my-4">
  <% end %>
</div>

<%= paginate @reminders %>
