<p style="color: green"><%= notice %></p>

<%= render @reminder %>

<div class="d-flex gap-2 mt-3">
  <%= link_to "Edit this reminder", edit_reminder_path(@reminder), class: "btn btn-sm btn-primary" %>
  <%= link_to "Back to reminders", reminders_path, class: "btn btn-sm btn-secondary me-auto" %>

  <%= button_to "Destroy this reminder", @reminder, method: :delete, class: "btn btn-sm btn-danger" ,  
      data: { confirm: "Are you sure?" } %>
</div>
